body {
    padding: 0px;
    margin: 0px;
}


.navBarWrapper {
    display: flex;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    align-items: center;
    gap: 135px;
}

.logoAndName {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 24px;
}

.navBar {
    display: flex;
    gap: 62px;
    list-style-type: none;
}

.navBar li {
    font-family: n;
    color: #612999;
}

.navBar li:hover {
    color: blueviolet;
    font-weight: 700;
}

.footerUsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p {
    margin: 0px;
}

a:any-link {
    text-decoration: none;
    color: inherit;
}

.footerLinksWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer {
    background-color: #EFECFF;
    display: flex;
    gap: 150px;
    padding-top: 32px;
    padding-left: 32px;
}

.icons-footer {
    display: flex;
    gap: 24px;
}

.icons-footer img {
    height: 20px;
    width: 20px;
}